# Gunicorn config file

[Unit]
Description=Gunicorn instance to serve one_and_done
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory="~/one-and-done/"
Environment="PATH=~/one-and-done/"

ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 --forwarded-allow-ips=* -m 007 --log-level debug --access-logfile /var/log/gunicorn/access.log --error-logfile /var/log/gunicorn/error.log  --daemon wsgi:app   
# Debugging only: /usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8000 --forwarded-allow-ips=* -m 007 --log-level debug wsgi:app  

[Install]
WantedBy=multi-user.target